/* цвет основного текста #757575 */
/* цвет хедера и футера #2F303A */
/* цвет при фокусе #2196F3 */
/* цвет заголовков #212121 */
/* цвет текста в герое #FFFFFF */
:root{
  --main-title-color:#757575;
  --second-title-color:#212121;
  --accent-color:#2196F3;
  --color-header:#2F303A;
  --text-hero:#FFFFFF;

}

body{
  font-family: 'Roboto', sans-serif;
  color: var( --main-title-color);
    
}
.list{
  list-style: none;
}
.link{
  text-decoration: none; 
}

/*-------- site-nav-header---------- */

.logo{
font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color: #000000;
}
.logo:hover,
.logo:focus{
    color:var(--accent-color);
}
.logo-text{
  color: var(--accent-color);
}
.site-nav-link{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color:var(--second-title-color);
    }
    .site-nav-link:hover,
    .site-nav-link:focus {
      color:var(--accent-color);
    }
    

  .link-contacts{
color:var(--main-title-color);
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
  }
 
  .link-contacts:hover,
  .link-contacts:focus {
    color:var(--accent-color);
  }
/* ----------HERO---------------------- */
.box{
  background-color:var(--color-header);
  color:var(--text-hero);
  width: 1600px;
  height: 600px;
  left: 0px;
  top: 80px;
}
.box-title{
  font-family: Roboto;
font-style: normal;
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
color:var(--text-hero);
}
.box-title-btn{
  font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 1.87;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
color:var(--text-hero);
background-color:var(--accent-color) ;
}
/* --------------ABOUT---------------- */
.about-title{
  font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height:1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color:var(--second-title-color);
}
.about-text{
  font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height:1.71;
letter-spacing: 0.03em;
color: var(--main-title-color);
}
/* --------WORKS--------------------- */
.works-title{
  font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height:1.17;
text-align: center;
letter-spacing: 0.03em;
color: var( --second-title-color);
}
/* ---------MASTERS----------------- */
.masters-title{
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height:1.17;
text-align: center;
letter-spacing: 0.03em;
color: var( --second-title-color);
}
.masters-item-title{
  font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height:1.19;
text-align: center;
letter-spacing: 0.03em;
color:var( --second-title-color) ;
}
.masters-item-text{
  font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height:1.19;
text-align: center;
letter-spacing: 0.03em;
color:var(--main-title-color);

}
/* --------FOOTER--------------- */
.footer{
  background-color:var(--color-header);
  position: absolute;
width: 1600px;
height: 252px;
left: 0px;
top: 2097px;

}

.footer-logo{
  font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 26px;
line: height 1.19;
letter-spacing: 0.03em;
color:var( --text-hero) ;
}
.footer-logo:hover,
.footer-logo:focus{
    color:var(--accent-color);
}
.footer-logo-text{
  font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 26px;
line-height:1.19;
letter-spacing: 0.03em;
color:var(--accent-color);
}
.footer-link{
  font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height:1.71;
letter-spacing: 0.03em;
color: var( --text-hero);

}
.footer-link-contacts{
  font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height:1.71;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}
.footer-link:hover,
.footer-link:focus{
  color:var(--accent-color);
}
.footer-link-contacts:hover,
.footer-link-contacts:focus{
  color:var(--accent-color);
}
